section {
  margin-top: 30px;
  padding: 0 21px 15px;
  background: #fff;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
  width: 100%;
  text-align: left;
  border: 0;
}

th {
  color: #999;
  font-weight: normal;
  font-size: 0.8em;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

td {
  padding: 12px 0;
  color: #666;
  font-size: 0.8em;
  border-bottom: 1px solid #eee;
}

.td-retweets {
  padding-right: 15px;
}

.th-tweets {
  width: 30%;
}

.th-date {
  width: 20%;
}

.th-likes, .th-replies, .th-retweets {
  text-align: center;
  width: 12%;
}

.th-hashtags {
  width: 24%;
}

.td-likes, .td-replies, .td-retweets {
  text-align: center;
}