<section *ngIf="pagedTweets.length !== 0">
  <table>
      <thead>
        <tr>
          <!-- <th *ngFor="let title of tableTitles">{{ title }}</th> -->
          <th class="th-tweets">Tweet</th>
          <th class="th-likes">Likes</th>
          <th class="th-replies">Replies</th>
          <th class="th-retweets">Retweets</th>
          <th class="th-hashtags">Hashtags</th>
          <th class="th-date">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tweet of pagedTweets">
          <td class="td-tweets">{{ tweet.text }}</td>
          <td class="td-likes">{{ tweet.likes }}</td>
          <td class="td-replies">{{ tweet.replies }}</td>
          <td class="td-retweets">{{ tweet.retweets }}</td>
          <td class="td-hashtags">{{ tweet.hashtags }}</td>
          <td class="td-date">{{ tweet.date }}</td>
        </tr>
      </tbody>
    </table>
    <app-paginator></app-paginator>
</section>
