table {
  table-layout: fixed;
  word-wrap:break-word;
  width: 100%;
  margin-top: 30px;
  padding: 0 21px;
  background: #fff;
  text-align: left;
  border: 0;
}

th {
  color: #999;
  font-weight: normal;
  font-size: 1em;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

td {
  color: #666;
  font-size: 0.8em;
  padding: 8px 15px 8px 0;
  border-bottom: 1px solid #eee;
}

tbody > tr:last-child > td {
  border-bottom: 0;
}

.th-tweets, .th-date {
  width: 30%;
}

.th-likes, .th-replies, .th-retweets, .th-hashtags {
  width: 10%;
}

.td-likes, .td-replies, .td-retweets, .td-hashtags {
  padding-left: 12px;
}