ul {
  margin: 21px 0 0 0;
  padding: 0 0 0 21px;
}

li {
  display: inline-block;
  list-style: none;
}

a {
  display: block;
  padding: 8px 15px;
  font-size: 0.9em;
  text-decoration: none;
  color: #666;
}

.actived {
  background: rgb(245, 245, 245);
  color: rgb(79, 79, 189);
}