section {
  padding: 30px;
  background: rgb(245, 245, 245);
}
label {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: #999;
  font-weight: 300;
  cursor: pointer;
}

.form_wrapper {
  position: relative;
}

button {
  position: absolute;
  z-index: 2;
  top: 25px;
  font-size: 0.8em;
  font-weight: 200;
  padding: 9px 9px;
  left: 136px;
  border-radius: 0;
  background: transparent;
  border: 0;
  color: #ccc;
  cursor: pointer;
  outline: transparent;
}

input {
  margin-top: 4px;
  padding: 8px 30px 8px 8px;
  outline: transparent;
}

::placeholder {
  color: #ccc;
  font-weight: 200;
}